<%= form_with(model: owner) do |form| %>
  <% if owner.errors.any? %>
    <div class="alert alert-danger">
      <h4>O solicitante não pode ser salvo:</h4>

      <ul>
        <% owner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, class: 'form-control'  %>

  <%= form.submit 'Salvar', class: 'btn btn-primary mt-3 btn-lg float-end' %>
<% end %>
<br clear="all" />