<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div class="alert alert-danger">
      <h4>O pedido não pode ser salvo:</h4>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.label :owner, 'Solicitante', class: 'form-label' %>
      <%= select :order, :owner_id, Owner.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Selecione o solicitante' }, { class: 'form-select' }  %>
    </div>
    <div class="col">
      <%= form.label :project, 'Projeto', class: 'form-label' %>
      <%= select :order, :project_id, Project.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Selecione o projeto' }, { class: 'form-select project-select' }  %>
    </div>
    <div class="col">
      <%= form.label :supplier, 'Fornecedor', class: 'form-label' %>
      <%= select :order, :supplier_id, Supplier.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Selecione o fornecedor' }, { class: 'form-select' }  %>
    </div>
    <div class="col">
      <%= form.label :approver, 'Aprovador', class: 'form-label' %>
      <%= select :order, :approver_id, Approver.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Selecione o Aprovador' }, { class: 'form-select' }  %>
    </div>
  </div>
  <br clear="all">

  <div class="row">
    <div class="col">
      <%= form.label :price, 'Valor', class: 'form-label' %>
      <%= form.text_field :price, class: 'form-control' %>
    </div>
    <div class="col">
      <%= form.label :due_date, 'Vencimento', class: 'form-label' %>
      <%= form.date_field :due_date, class: 'form-control'  %>
    </div>
  </div>
  <br clear="all">

  <div class="row">
    <div class="col">
      <%= form.label :goal, 'Finalidade', class: 'form-label' %>
      <%= form.text_area :goal, size: "90x8", class: 'form-control'  %>
    </div>
    <div class="col">
      <%= form.label :note, 'Observação', class: 'form-label' %>
      <%= form.text_area :note, size: "90x8", class: 'form-control'  %>
    </div>
  </div>
  <br clear="all">

  <% if order.new_record? %>
    <%= form.hidden_field :status, value: 'requested' %>
  <% else %>
    <%= form.label :status, 'Status', class: 'form-label' %>
    <%= select :order, :status, [['Solicitado', 'requested'], ['Em andamento', 'in_progress'], ['Cancelado', 'canceled'], ['Concluído', 'done'], ['Faturado', 'billed']], {}, class: 'form-select' %>
    <br>
    <%= form.label :files, 'Arquivos', class: 'form-label' %>
    <%= form.file_field :files, class: 'files', multiple: true %>

    <br clear="all">

    <% if order.files.attached? %>
      <br clear="all">
      <ul class="list-group list-group-flush">
        <% order.files.each do |file| %>
          <li class="list-group-item">
            <%= link_to rails_blob_path(file, disposition: "attachment"), class: 'link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover' do %>
               <%= build_file_name(file) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  <% end %>

  <br clear="all">

  <div class="project-people-content" style="display: none">
    <h5 class="card-title mt-2 mb-4">Colaboradores</h5>

     <div class="row">
      <% Person.order(:name).each do |person| %>
        <div class="col-md-4 project-people-item mb-2" data-project-id="<%= person.project.id %>" style="display: none">
          <div class="form-check">
              <%= form.check_box :person_ids, { multiple: true, class: 'form-check-input' }, person.id, nil %>
              <%= form.label :person_ids, person.name, class: 'form-check-label' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br clear="all"/>
  <%= form.submit 'Salvar', class: 'btn btn-primary mt-3 btn-lg float-end' %>
<% end %>
<br clear="all"/>

<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function(){
      if($('.project-select').val() != ""){
        showProjectPeople($('.project-select').val());
      }
      $('.project-select').on('change',function(){
        project_id = $(this).val();
        showProjectPeople($(this).val());
      });
    });

    function showProjectPeople(project_id){
      if($("div[data-project-id='" + project_id +"']").length > 0){
        $('.project-people-content').show();
        $('.project-people-item').hide();
        $("div[data-project-id='" + project_id +"']").show();
      }else{
        $('.project-people-content').hide();
      }
    }
  </script>
<% end %>