<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h4>O projeto não pode ser salvo:</h4>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.label :name, 'Nome', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control'%>
    </div>

    <div class="col">
      <%= form.label :email, 'E-mail', class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control'%>
    </div>
  </div>
  <br clear="all" />
  <div class="row">
    <div class="col">
      <%= form.label :document_number, 'CNPJ', class: 'form-label' %>
      <%= form.text_field :document_number, class: 'form-control'  %>
    </div>
    <div class="col">
      <%= form.label :phone, 'Telefone', class: 'form-label' %>
      <%= form.telephone_field :phone, class: 'form-control'  %>
    </div>
  </div>


  <br clear="all" />

  <h5 class="card-title mb-2">Dados bancários</h5>
  <div class="row">
    <div class="col">
      <%= form.label :bank, 'Banco', class: 'form-label' %>
      <%= form.text_field :bank, class: 'form-control'%>
    </div>
    <div class="col">
      <%= form.label :ag, 'Agência', class: 'form-label' %>
      <%= form.text_field :ag, class: 'form-control'%>
    </div>
    <div class="col">
      <%= form.label :cc, 'Conta', class: 'form-label' %>
      <%= form.text_field :cc, class: 'form-control'%>
    </div>
     <div class="col">
      <%= form.label :pix, class: 'form-label' %>
      <%= form.text_field :pix, class: 'form-control'%>
    </div>
  </div>
  <br clear="all" />

  <br clear="all" />

  <h5 class="card-title mb-2">Logos</h5>
  <div class="row">
    <div class="col">
      <%= form.label :logo, 'Artista', class: 'form-label' %>
      <%= form.file_field :logo, class: 'form-control'%>
    </div>
    <div class="col">
      <%= form.label :office_logo, 'Escritório', class: 'form-label' %>
      <%= form.file_field :office_logo, class: 'form-control'%>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <%= form.label :record_logo, 'Gravadora', class: 'form-label' %>
      <%= form.file_field :record_logo, class: 'form-control'%>
    </div>
     <div class="col">
      <%= form.label :extra_logo, 'Adicional', class: 'form-label' %>
      <%= form.file_field :extra_logo, class: 'form-control'%>
    </div>
  </div>
  <br clear="all" />

  <% if project.has_logo? %>
    <div class="row">
      <% if project.logo.attached? %>
        <div class="col-3">
            <%= image_tag project.logo, class: 'project_logos' %>
        </div>
      <% end %>

      <% if project.office_logo.attached? %>
        <div class="col-3">
          <%= image_tag project.office_logo, class: 'project_logos' %>
        </div>
      <% end %>

      <% if project.record_logo.attached? %>
        <div class="col-3">
            <%= image_tag project.record_logo, class: 'project_logos' %>
        </div>
      <% end %>
      <% if project.extra_logo.attached? %>
        <div class="col-3">
            <%= image_tag project.extra_logo, class: 'project_logos' %>
        </div>
      <% end %>
    </div>
    <br clear="all" />
  <% end %>

  <%= form.submit 'Salvar', class: 'btn btn-primary mt-3 btn-lg float-end' %>
<% end %>
<br clear="all" />