<h2 class="mt-5 mb-5">
  Fornecedores
  <%= link_icon(new_supplier_path, 'btn btn-primary float-end', 'fa-solid fa-plus', 'Novo Fornecedor' ) %>
</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>CNPJ</th>
      <th>Telefone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.document_number %></td>
        <td><%= supplier.phone %></td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
              Opções
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Editar', edit_supplier_path(supplier), class: 'dropdown-item' %></li>
              <li><%= link_to 'Deletar', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>